<section class="container">
  <h2 class="sale-title">Sale</h2>
  <!-- Path to images as from index.html file
        <img src="./img/Sale/sale-1-mob-1x.jpg" alt="" /> -->
  <ul class="sale-list">
    <li class="sale-item">
      <img src="../img/Sale/sale-small-1-mob-1x.png" alt="clock garming" />
    </li>
    <li class="sale-item">
      <img src="../img/Sale/sale-small-2-mob-1x.png" alt="clock garming" />
    </li>
    <li class="sale-item">
      <img src="../img/Sale/sale-small-3-mob-1x.png" alt="clock garming" />
    </li>
    <li class="sale-item">
      <img src="../img/Sale/sale-small-4-mob-1x.png" alt="clock garming" />
    </li>
  </ul>
  <img src="../img/Sale/sale-1-mob-1x.png" alt="clock mark" width="235" />
  <h3>MARQ&#174; Commander (Gen 2) - Carbon Edition</h3>
  <p>Product tag: 706587</p>
  <p>€1500</p>
  <p>€3000</p>
  <p>
    The Garmin MARQ Commander Gen 2 Carbon Edition is a modern smartwatch for
    adventurers that takes materials and features to the next level. The body of
    the watch is made of very durable Fused Carbon Fiber material and has a
    precise AMOLED touch screen. The sensitive touch screen is complemented by
    buttons that can be used in any conditions.
  </p>
  <ul>
    <li>Fused carbon fiber</li>
    <li>Grade-5 Titanuim</li>
    <li>Athlete</li>
    <li>Golfer</li>
    <li>Commander</li>
    <li>Adventurer</li>
  </ul>
</section>
